!!!5
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="index.css")
  body(lang="en")
   i.icon
     | &#x0042;&#x0043;&#x0044;
     | BCD
   br
   br
   i.icon blah
