@import base

.menu.iconset .item .svg-icon
  width: 20px
  height: 20px
  margin: 0 10px 0 0
  vertical-align: middle
  display: inline-block

.ico-li.iconset
  width: 100%
  text-align: center
  font-size: 19px
  color: #999
  line-height: 20px
  position: relative
  span
    font-size: 12px
    vertical-align: top
  .ui.divider:first-of-type
    margin: 2px
  .ui.divider:last-of-type
    margin-top: 2px
  .ellipsis
    @include act-icon
  .ib
    display: none
    min-height: 48px
    .when-empty
      font-size: 12px
      height: 32px
      line-height: 32px
      margin: 10px 0 0

  .toggler
    @include act-icon
    position: absolute
    right: 0
  .ctrls
    position: absolute
    right: 20px
    .name
      font-size: 12px
      margin-right: 7px
    .icon
      @include act-icon
    .icon.trash
      color: #e20
