#glyph-detail-modal.ui.modal
  .header
    | {% verbatim %}
    | Icon: {{hv.item.name}}
    | {% endverbatim %}
  .content
    form#glyph-detail-form(enctype="multipart/form-data",method="post",target="glyph-detail-form-pxy",action="/glyph/")
      | {% csrf_token %}
      | {% verbatim %}
      .ui.grid
        .six.wide.column
          .icon-wrap
            img.ratio(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAQAICRAEAOw==")
            icon.detail-modal(src="{{hv.item.svg}}")
        .ten.wide.column
          .ui.form.segment
            .field
              b(style="font-size:110%") "{{hv.item.name}}"
              |  by 
              a(href="{{hv.item.author_url}}") {{hv.item.author}}
              | , released under the "
              a(href="{{hv.item.license_url}}") {{hv.item.license.name}}
              |  " license.
            .four.fields.variant
              .field
                label normal
                icon(src="{{hv.item.svg}}")
              .field
                label colored
                icon.colored(src="{{hv.item.svg}}",color="#090")
              .field
                label animated
                icon.rotate(src="{{hv.item.svg}}")
              .field
                label blurred
                //-icon.blurred(src="{{hv.item.svg}}")
                icon.inverted(src="{{hv.item.svg}}",color="#fff")
            .three.fields
              .field
                label Color
                input(type="text",placeholder="Red")
              .field
                label Rotation
                input(type="text",placeholder="45")
              .field
                label Animation
                input(type="text",placeholder="Rotate")
            .field
              label ligature
              input(type="text",placeholder="Words for ligature, e.g., 'login'")
            .field
              label tags
              span(ng-repeat="t in hv.item.tags") {{t}}

      | {% endverbatim %}
  .actions
    .ui.button.green(onclick="$('#glyph-detail-modal').modal('hide')") Close
