#glyph-edit-modal.ui.modal
  .header
    | {% verbatim %}
    | Customization / Icon: {{hv.edit.item.name}}
    | {% endverbatim %}
  .content
    form#glyph-edit-form(enctype="multipart/form-data",method="post",target="glyph-edit-form-pxy",action="/glyph/")
      | {% csrf_token %}
      | {% verbatim %}
      .ui.grid
        .six.wide.column
          .ui.form.segment.variant
            .two.fields
              .field
                label normal
                icon.edit-modal(src="{{hv.edit.item.svg}}")
              .field
                label colored
                icon.edit-modal.colored(src="{{hv.edit.item.svg}}",color="{{hv.edit.item.color || '#000'}}")
            .two.fields
              .field
                label animated
                icon.edit-modal(src="{{hv.edit.item.svg}}",animate="{{gh.animationType[hv.edit.item.animation]}}")
              .field
                label rotated
                //-icon.edit-modal.blurred(src="{{hv.edit.item.svg}}")
                icon.edit-modal(src="{{hv.edit.item.svg}}",rotate="{{hv.edit.item.rotate || '0'}}")
        .ten.wide.column
          .ui.form.segment
            h3 Customized Settings
            .two.fields
              .field
                label Name
                input(type="text",placeholder="used in css class",ng-model="hv.edit.item.name")
              .field
                label Ligature
                input(type="text",placeholder="use icon by combining letters",ng-model="hv.edit.item.ligature")
            .three.fields
              .field
                label Color
                input(type="text",placeholder="used in colored style.",ng-model="hv.edit.item.color")
              .field
                label Rotation
                input(type="text",placeholder="used to rotate icon",ng-model="hv.edit.item.rotate")
              .field
                label Animation
                select(ng-model="hv.edit.item.animation",ng-options="k as v for (k,v) in gh.animationType")
                //-select
                  option Rotate
                  option Flip
                  option Bounce
                  option Zoom
                  option Blink
            .field(style="margin-bottom:0")
              label Also Generate:
              .ui.checkbox(style="padding:5px 5px 0")
                input(type="checkbox")
                label icon mask class
            .field
              .ui.checkbox(style="padding:5px 5px 0")
                input(type="checkbox")
                label inverted icon class

      | {% endverbatim %}
  .actions
    .ui.button(onclick="$('#glyph-edit-modal').modal('hide')") Cancel
    .ui.button.red(onclick="$('#glyph-edit-modal').modal('hide')") Reset
    .ui.button.green(onclick="$('#glyph-edit-modal').modal('hide')") Save
