iframe.pxy#glyph-new-form-pxy(name="glyph-new-form-pxy",height="0",width="0")
#glyph-new-modal.ui.modal
  .header
    | {% verbatim %}
    | {{gh.modal.title}}
    | {% endverbatim %}
  .content
    form#glyph-new-form(enctype="multipart/form-data",method="post",target="glyph-new-form-pxy",action="/glyph/")
      | {% csrf_token %}
      | {% include 'glyph/new/single.jade' %}
      | {% include 'glyph/new/multiple.jade' %}
  .actions
    .error-hint.error
      i.glyphicon.glyphicon-remove
      | Some error occurred. Please try again later.
    .error-hint.missed
      i.glyphicon.glyphicon-remove
      | Some fields are invalid. Please fix them.
    .single
      .ui.button(onclick="$('#glyph-new-modal').modal('hide')") Cancel
      .ui.button.green(ng-click="gh.new.item.save()") Upload
    .multiple
      .ui.button(onclick="$('#glyph-new-modal').modal('hide')") Skip
      .ui.button.green(ng-click="gh.new.list.save()") Save
