iframe.pxy#glyph-new-form-pxy(name="glyph-new-form-pxy",height="0",width="0")
form#glyph-new-form(enctype="multipart/form-data",method="post",target="glyph-new-form-pxy",action="/glyph/")
  | {% csrf_token %}
  | {% verbatim %}
  #glyph-new-modal.modal.fade: .modal-dialog: .modal-content
    .modal-header
      button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
      h4.modal-title Upload Icon
    .modal-body
      .single.row
        .col-sm-5
          .upload.invalid-self(ng-class="{true:'',false:'invalid'}[gh.new.n.svg.p]")
            i.glyphicon.glyphicon-upload
            .name(style="font-size:12px;white-space: pre") {{gh.new.n.svg.v}}
          input#glyph-new-svg(type="file",multiple,name="svg",onchange="angular.element(this).scope().gh.new.n.svg.set(this)")
        .col-sm-7
          .form
            .form-row(ng-class="{true:'',false:'invalid'}[gh.new.n.name.p]")
              .form-label
                | Icon Name
                i.required
              .form-input: input(type="text",name="name", placeholder="Icon Name",ng-model="gh.new.n.name.v")
            .form-row(ng-class="{true:'',false:'invalid'}[gh.new.n.author.p]")
              .form-label
                | Author Name
                i.required
              .form-input: input(type="text",name="author", placeholder="Author",ng-model="gh.new.n.author.v")
            .form-row(ng-class="{true:'',false:'invalid'}[gh.new.n.author_url.p]")
              .form-label Author URL
              .form-input: input(type="text",name="author_url", placeholder="URL to Author",ng-model="gh.new.n.author_url.v")
            .form-row(ng-class="{true:'',false:'invalid'}[gh.new.n.license.p]")
              .form-label
                | License
                i.required
              .form-input
                license(ng-model="gh.new.n.license.v",name="license")
                i.glyphicon.glyphicon-plus(ng-click="lc.init()") //-(data-toggle="modal",href="#lic-new-modal")
          small tags
          .invalid-self(ng-class="{true:'',false:'invalid'}[gh.new.n.tags.p]")
            tags(ng-model="gh.new.n.tags.v", name="tags")
      | (
      i.required
      | : required )
      .multiple
        .bypass
          | Please give more details about them ( or just
          a.action(href="#") bypass it
          |  )
        input(type="hidden",name="form-TOTAL_FORMS",value="{{gh.new.list.data.length}}")
        input(type="hidden",name="form-INITIAL_FORMS",value="0")
        input(type="hidden",name="form-MIN_NUM_FORMS",value="2")
        input(type="hidden",name="form-MAX_NUM_FORMS",value="{{gh.new.list.data.length}}")
        .row(ng-repeat="nf in gh.new.list.data")
          .col-sm-5
            .upload
              icon(src="{{nf.svg}}")
              input(type="hidden",name="form-{{$index}}-id",value="{{nf.id}}")
              input(type="hidden",name="form-{{$index}}-svg",value="{{nf.svg}}")
          .col-sm-7
            .form
              .form-row(ng-class="{true:'',false:'invalid'}[nf.name.p]")
                .form-label
                  | Icon Name
                  i.required
                .form-input: input(type="text",name="form-{{$index}}-name", placeholder="Icon Name",ng-model="nf.name.v")
              .form-row(ng-class="{true:'',false:'invalid'}[nf.author.p]")
                .form-label
                  | Author Name
                  i.required
                .form-input: input(type="text",name="form-{{$index}}-author", placeholder="Author",ng-model="nf.author.v")
              .form-row(ng-class="{true:'',false:'invalid'}[nf.author_url.p]")
                .form-label Author URL
                .form-input: input(type="text",name="form-{{$index}}-author_url", placeholder="URL to Author",ng-model="nf.author_url.v")
              .form-row(ng-class="{true:'',false:'invalid'}[nf.license.p]")
                .form-label
                  | License
                  i.required
                .form-input
                  license(ng-model="nf.license.v",name="form-{{$index}}-license")
                  i.glyphicon.glyphicon-plus(ng-click="alert(1)") //-data-toggle="modal",href="#lic-new-modal")
            small tags
            .invalid-self(ng-class="{true:'',false:'invalid'}[nf.tags.p]")
              tags(ng-model="nf.tags.v", name="form-{{$index}}-tags")

    .modal-footer
      .error-hint.error
        i.glyphicon.glyphicon-remove
        | Some error occurred. Please try again later.
      .error-hint.missed
        i.glyphicon.glyphicon-remove
        | Some fields are invalid. Please fix them.
      .single
        label.btn.btn-primary(ng-click="gh.new.item.save()") Upload
        button.btn.btn-default(data-dismiss="modal") Cancel
      .multiple
        //- for unknown reason, <button> triggers iframe submission. so use label instead
        //- Google Chrome 31.0.1636.0 dev
        label.btn.btn-primary(ng-click="gh.new.list.save()") Save
        button.btn.btn-default(data-dismiss="modal") Skip
  | {% endverbatim %}
