iframe.pxy#glyph-detail-form-pxy(name="glyph-detail-form-pxy",height="0",width="0")
form#glyph-detail-form(enctype="multipart/form-data",method="post",target="glyph-detail-form-pxy",action="/glyph/")
  | {% csrf_token %}
  | {% verbatim %}
  #glyph-detail.modal.fade: .modal-dialog: .modal-content
    .modal-header
      button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
      h4.modal-title Detail: {{detail.cur.name}}
    .modal-body: .row
      .col-sm-5
        .upload
          icon.detail(src="{{detail.cur.svg}}")
      .col-sm-7
        .form
          .form-row
            .form-label
              | Icon Name
              i.required
            .form-input: input(type="text",name="name", placeholder="Icon Name",ng-model="detail.cur.name")
          .form-row
            .form-label
              | Author Name
              i.required
            .form-input: input(type="text",name="author", placeholder="Author",ng-model="detail.cur.author")
          .form-row
            .form-label Author URL
            .form-input: input(type="text",name="author_url", placeholder="URL to Author",ng-model="detail.cur.author_url")
          .form-row
            .form-label
              | License
              i.required
            .form-input
              input.license-chooser(name="license")
                option
                option(ng-repeat="it in lic.list",value="{{it.pk}}") {{it.fields.name}}
        small(style="display:block;margin:0 0 7px 0;background: #eee;padding:3px 13px") tags
        input.tags(type="hidden",name="tags",value="1,2,3")
      | (
      i.required
      | : required )
    .modal-footer
      button.btn.btn-primary(ng-click="glyph.add()") Save
      button.btn.btn-default(data-dismiss="modal") Cancel
  | {% endverbatim %}
