iframe.pxy#ics-edit-form-pxy(name="ics-edit-form-pxy",height="0",width="0")
#ics-edit-modal.ui.modal
  .header
    | Edit Icon Set
  .content
    form#ics-edit-form(enctype="multipart/form-data",method="post",target="ics-edit-form-pxy",action="/license/")
      | {% csrf_token %}
      .ui.form.segment
        .two.fields
          .field
            label Icon Set Name
            input(type="text",name="name",placeholder="Icon Set Name",ng-model="st.name")
          .field
            label Privilege
            select(ng-model="st.perm",ng-options="v as k for (k,v) in st.permType")
        .field
          label Description
          textarea(type="text",name="desc",placeholder="Description",style="min-height:70px;height:70px",ng-model="st.desc")
        .field
          label You can share this iconset with other via this permalink: 
          input(type="text",name="url",value="http://aicon.com/set/qersdhfp28y?authkey=qwertyu32sdfihoiquw0",style="margin-bottom:5px",disabled)
          .ui.button.blue Share on Facebook
          .ui.button.red Share on Google Plus
          .ui.button.teal Share on Twitter
  .actions
    .error-hint.error
      i.glyphicon.glyphicon-remove
      | Some error occurred. Please try again later.
    .error-hint.missed
      i.glyphicon.glyphicon-remove
      | Some fields are invalid. Please fix them.
    .ui.button(onclick="$('#ics-edit-modal').modal('hide');") Cancel
    .ui.button.green(ng-click="st.saveByModal();") Save


