| {% load compressed %}
!!!5
html
  head
    meta(charset="utf-8")
    | {% compressed_css 'vendor' %}
    | {% compressed_css 'main' %}
    | {% compressed_js 'vendor' %}
    | {% compressed_js 'main' %}
  body(ng-app="main", ng-controller="main",ng-mousedown="mouse.select=true",ng-mouseup="mouse.select=false",sty)
    .ui.menu.red.inverted.fixed.main
      .inner-menu(style="width:1024px;margin:0 auto")
        a.active.item
          i.home.icon
          | Home
        a.item(ng-click="gh.new.init()")
          i.icon.cloud.upload
          | upload
        a.item(ng-click="buildFont()")
          i.icon.disk.download
          | make font
        .right.menu
          a.item(onclick="$('#login-modal').modal('setting','closable',false).modal('show');")
            i.icon.sign.in.icon
            | Sign in
    #banner
      #bnr-h1
        | AICON
        small /`aikon/
      #bnr-h2 create, build and share your icon font online
    #content
      .ib(style="padding-top: 20px")  
      | {% include 'glyph/new-modal.jade' %}
      | {% include 'glyph/detail-modal.jade' %}
      | {% include 'glyph/edit-modal.jade' %}
      | {% include 'license-modal.jade' %}
      | {% include 'iconset-modal.jade' %}
      | {% include 'login-modal.jade' %}
      .ui.icon.input.large.fluid
        input(type="text",placeholder="Search Icons...",ng-model="searchKeyword")
        i.search.icon

      .ui.small.secondary.menu#search-order
        a.active.item
          i.icon.trophy
          | default
        a.item
          i.icon.user
          | by author
        a.item
          i.icon.pencil
          | my upload
        .right.menu
          .ui.dropdown.item.iconset-list
            i.icon.open.folder
            | {% verbatim %}
            | selections - {{ st.name }}
            small ({{st.len}})
            | {% endverbatim %}
            i.dropdown.icon
            .menu.iconset
              a.item(ng-click="st.new()")
                icon(src="default/new.svg")
                | create new set
              | {% verbatim %}
              a.item(ng-repeat="s in st.sets",ng-click="st.load(s)",ng-class="{true:'active',false:''}[st.cur.pk==s.pk]")
                icon(src="{{s.cover}}",del="st.rmset(e,s)")
                | {{ s.name }}
                small ( {{ s.icons.length }} )
              | {% endverbatim %}

      | {% verbatim %}
      #icon-hint(ng-mouseover="hv.handle($event,hv.item)", ng-mouseout="hv.handle($event,null)")
        .arrow
        .ib
          | "{{hv.item.name}}", by
          a(href="#") {{hv.item.author}}
          |  @ 
          a(href="#") {{hv.item.license.name}}
          | .
          a(onclick="$('#glyph-detail-modal').modal('show');") 
            | detail
            i.icon.double.angle.right
          | 
      .ico-li.iconset
        .ui.divider
        .toggler(ng-click="st.toggle()")
          i.icon.arrow.up(ng-show="st.show")
          i.icon.arrow.down(ng-show="!st.show")
        .ctrls(ng-show="st.show")
          span.name {{ st.name }}
          i.icon.edit.sign.has-popup(data-content="edit name",onclick="$('#ics-edit-modal').modal('show');")
          i.icon.trash.has-popup(ng-click="st.rmset(e, st.cur)",data-content="remove set")
        .ellipsis(ng-click="st.toggle()")
          i.icon.ellipsis.horizontal
          span your selection
          i.icon.ellipsis.horizontal
        .ib
          .when-empty(ng-show="st.len==0") ( empty )
          .ico-li-it(ng-repeat="g in st.list")
            icon(src="{{g.svg}}",del="st.add(g)")
        .ui.divider
      .ui.ribbon.label.large.red aicon default
      .ui.label.pointing.left.small(style="margin-left: -25px")
        | by
        .ui.dropdown
          .text name
          i.icon.dropdown
          .menu
            .item author
            .item time
            .item license
      br
     
      .ico-li-it(ng-repeat="g in gh.list",ng-click="st.add(g)",ng-class="{true:'added',false:''}[g.added]")
        icon.ico-main(src="{{g.svg}}",ng-mouseover="hv.handle($event,g)",ng-mouseout="hv.handle($event,null)")
      | {% endverbatim %}


    #footer
      | 愛 Aicon

