| {% load compressed %}
!!!5
html
  head
    meta(charset="utf-8")
    | {% compressed_css 'vendor' %}
    | {% compressed_css 'main' %}
    | {% compressed_js 'vendor' %}
    | {% compressed_js 'main' %}
  body(ng-app="main", ng-controller="main",ng-mousedown="mouse.select=true",ng-mouseup="mouse.select=false")
    #header
      img#logo(src="/s/img/logo.png")
      | {% verbatim %}
      div(style="display: inline-block;")
        .ico-li#iconset
          .ico-li-it(ng-show="!st.sets.len")
            icon(src="default/login.svg")
            .name login now to
            br
            .count save your iconset!

          .ico-li-it(ng-repeat="s in st.sets",ng-click="st.load(s)",ng-class="{true:'active',false:''}[st.cur.pk==s.pk]")
            icon(src="{{s.cover}}",del="st.rmset(e,s)")
            .name {{s.name}}
            br
            .count {{s.icons.length}} icons
      | {% endverbatim %}

    #menu-bar
      input#iconset-name(type="text",value="圖示集", placeholder="(圖示集的名稱)",ng-model="st.name")
      span(style="font-weight:900;font-size: 18px")
        i.glyphicon.glyphicon-edit(onclick="$('#iconset-name').focus();")
        button.btn.btn-link(ng-click="buildFont()") 建立字型
        button.btn.btn-link(ng-click="st.save()") 儲存快選單
        button.btn.btn-link(ng-click="glyph.init()") 上傳圖示
        //-button.btn.btn-link(data-toggle="modal",href="#glyph-uploader") 上傳圖示
      input.form-control(style="height: 30px;vertical-align:baseline;display:inline-block;width: 300px",type="text",ng-model="searchKeyword",placeholder="搜尋圖示...")
      span#menu-func
        i.glyphicon.glyphicon-th(ng-click="ui.detail=false",ng-class="{true:'',false:'sel'}[ui.detail]")
        i.glyphicon.glyphicon-th-large(ng-click="ui.detail=true",ng-class="{true:'sel',false:''}[ui.detail]")
      span.acc-panel.pull-right
        | {% if user.is_authenticated %}
        | {{ user.username }}
        span 登出
        | {% else %}
        a(href="/accounts/facebook/login/?process=login") 用臉書帳號登入
        | {% endif %}

    .ico-li.chosen
      #choose-hint.ico-li-it(ng-show="!st.len")
        icon(src="svg/default.svg")
      | {% verbatim %}
      .ico-li-it(ng-repeat="g in st.list")
        icon(src="{{g.svg}}",del="st.add(g)")
      | {% endverbatim %}
    | {% include 'glyph-modal.jade' %}
    | {% include 'glyph-detail.jade' %}
    | {% include 'license-modal.jade' %}
    | {% verbatim %}
    .ico-li.small.all(ng-show="!ui.detail")
      .ico-li-it(ng-repeat="g in gh.list",ng-click="st.add(g)",ng-class="{true:'added',false:''}[g.added]",ng-mouseover="mouse.over($event,g)")
        icon.ico-main(src="{{g.svg}}")
    .ico-li.all(ng-show="ui.detail")
      .ico-li-it(ng-repeat="g in gh.list",ng-click="st.add(g)",ng-class="{true:'added',false:''}[g.added]")
        .icons
          icon.ico-main(src="{{g.svg}}")
          //-
            .ib
              icon.ico1(src="{{g.svg}}")
              icon.ico2(src="{{g.svg}}")
              br
              icon.ico3(src="{{g.svg}}")
              icon.ico4(src="{{g.svg}}")
        .infos
          .text
            .name {{g.name}}
            .author
              | by
              a(href="{{g.author_url}}#") {{g.author}}
              |  @ 
              a(href="{{g.license_url}}#") {{g.license}}
          .tags
            .tag(ng-repeat="t in g.tags") {{t}}
          .action
            button.btn.btn-success.btn-sm.detail(ng-show="!g.added") Add
            button.btn.btn-danger.btn-sm.detail(ng-show="g.added") Remove
            button.btn.btn-primary.btn-sm.detail(ng-click="detail.show($event,g);") Detail
        | {% endverbatim %}
    #footer
      | 愛 Aicon
      | {% verbatim %}
      div(ng-repeat="it in xxx") x {{it}}
      | {% endverbatim %}
